<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />




  <!-- <h3 class="h3">Products </h3> -->

  

<div class="container">
  
  <!-- <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search products..." required>
  </form> -->


  <div class="input-group" style="width:60%;margin:auto;">
  <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
  class="form-control rounded" placeholder="Search for products..." aria-label="Search"
  aria-describedby="search-addon" />
  <button type="button" (click)="searchProducts(key.value)" class="btn btn-outline-primary"><a class="fa fa-search"></a></button>
</div> 
<br>
<br>

<!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
    </ng-template>
</ngb-carousel>
<br>
<br> -->
 
  <div class="row">
      <div *ngFor="let product of products" class="col-md-3 col-sm-6">
          <div class="product-grid6 rounded">
              <div class="product-image6">
                  <a href="product/{{product.productId}}">
                      <img class="pic-1" src={{product.image1}}>
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">{{product.productName}}</a></h3>
                  <div class="price">₹ {{product.cost}}</div>
              </div>
              <ul class="social">
                  <li class="user" style="cursor:pointer;"><a (click)="productView(product.productId)" data-tip="view"><i class="fa fa-search"></i></a></li>
                  <li class = "user"><a href="cart"  *ngIf="role !== merchant" (click)="addToCart(product.productId)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                  <li class="user" style="cursor:pointer;"><a *ngIf="role === merchant" (click)="deleteProduct(product.productId)" data-tip="delete"><i class="fa fa-trash"></i></a></li>
              </ul>
          </div>
          <br>
      </div>  
  </div>
</div>

