<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <form>
          <div class="well">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search products...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div> -->

<div class="container">
  <h3 class="h3">Products </h3>
  <div class="row">
      <div *ngFor="let product of products" class="col-md-3 col-sm-6">
          <div class="product-grid6">
              <div class="product-image6">
                  <a href="#">
                      <img class="pic-1" src={{product.image[0]}}>
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">{{product.productName}}</a></h3>
                  <div class="price">${{product.price}}</div>
              </div>
              <ul class="social">
                  <li><a href="product/{{product.productId}}" ng-click="getProductById(product.productId)" data-tip="Search"><i class="fa fa-search"></i></a></li>
                  <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
          </div>

      </div>
      
      
  </div>
</div>

