<div><a routerLink="">Home</a>
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Register</h3>
                                    </div>
                                    <h6 class="h5 mb-0">Just Do Register.</h6>
                                    <p class="text-muted mt-2 mb-5">If You Really Want To Know, Look In The Register.</p>
                                    <form #addForm="ngForm" (ngSubmit)="addNewMerchant(addForm)">
                                        <div class="form-group">
                                            <label for="yourName">Full Name</label>
                                            <input type="text" ngModel name="fullName" class="form-control" id="yourName" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" ngModel name="emailId" class="form-control" id="exampleInputEmail1" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Profile Image</label>
                                            <input type="text" ngModel name="image" class="form-control" id="exampleInputPassword1" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Phone Number</label>
                                            <input type="text" ngModel name="mobileNumber" class="form-control" id="exampleInputPassword1" />
                                        </div>
                                        <div class="form-group">
                                            <p ngModel name="gender" > Gender:
                                            <input type="radio" id="male"  value="male">
                                            <label for="male" class="spa">Male</label>
                                            <input type="radio"  id="female" name="gender" value="female">
                                            <label for="female" class="spa">Female</label>
                                            <input type="radio" id="other" name="gender" value="other">
                                            <label for="other" class="spa">Other</label>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Date Of Birth</label>
                                            <input type="date" name="dateOfBirth" ngModel class="form-control" id="exampleInputPassword1" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" name="password" ngModel class="form-control" id="exampleInputPassword1" />
                                        </div>
                                        
                                        <button type="submit" class="btn btn-theme">Register</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">This beautiful theme yours!</h4>
                                        <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                        <p>- Admin User</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <p class="text-muted text-center mt-3 mb-0">Already have an account? <a href="login" class="text-primary ml-1">login</a></p>
                <!-- end row -->
            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
